<div class='full dark-blue no-padding'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p style='text-align: center;'>Que tal encomendar sua peça sob medida agora?</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <p style='text-align: center; padding:0; margin:0;'><a class='button' href='http://oromie.iluria.com/' target='_blank'>Comprar já!</a></p>
      </div>
    </div>
  </div>
</div>
