<div id="bio_ep_content"> ' +
        '<h4 style="color: #eae6d5;">Olá! Estamos felizes em ter você por aqui!</h4>' +
        '<p style="color: #eae6d5;">Cadastre-se para receber nossas promoções e cupons de desconto!</p>' +
        '<p class="shortline"></p>' +
        '<form action="https://getsimpleform.com/messages?form_api_token=f1f8da1415197ef834fbbb5c2dbd03db" method="post" id="newsletterForm">' +
        '<input placeholder="Nome" type="text" name="nome">' +
        '<input placeholder="e-mail" type="text" name="email">' +
        '<input placeholder="Assunto" type="text" name="assunto" value="Newsletter" style="display:none;">' +
        '<input class="button white" type="submit" value="Enviar" name="enviar">' +
        '</form>' +
'</div>'
